@charset "UTF-8";

/* Подключаемый шрифт*/

@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Play:regular,700);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: "Roboto";
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

._conteiner {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.no-webp .header{
  background-image: url("../img/header.jpg"); }

.header {
  position: relative;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header__up {
  padding-top: 20px;
  height: 90px;
  display: flex;
}

.header__menu {
  margin-left: -120px;
}

.menu__list-up {
  height: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 30px 30px;
  grid-template-rows: 30px 30px;
}

.menu__list-up a {
  font-family: "Play";
  font-weight: bold;
  line-height: 1.29;
  text-align: left;
  color: #fff;
  text-decoration: underline;
}

.menu__list-up a {
  padding: 7px 22px;
}

.menu__list-up li:hover {
  background-color: #068292;
  border-radius: 25px 25px 25px 25px;
}

.header__logo {
  padding: 0 20px 0 40px;
}

.header__call {
  display: flex;
  margin-left: 62px;
}

.header__call a {
  color: #fff;
}

.header__call_moskow {
  display: flex;
  padding-right: 30px;
  border-right: 1px solid #fff;
  height: 28px;
}

.header__call_moskow-img {
  width: 19px;
  height: 25px;
}

.header__call_russia {
  padding-left: 30px;
}

.header__down {
  padding-top: 3px;
  display: flex;
  width: 100%;
}

.header__down-left {
  display: flex;
  justify-content: space-between;
  flex: 0 1 30%;
}

.header__down-left a {
  font-weight: 300;
  line-height: 1.29;
  text-align: center;
  color: #999;
}

.header__down-entere {
  display: flex;
  align-items: center;
}

.header__down-entere:hover {
  color: #1ab9ce;
}

.header__down-entere img {
  width: 24px;
  height: 24px;
}

.header__down-reg {
  display: flex;
  align-items: center;
}

.header__down-reg:hover {
  color: #1ab9ce;
}

.header__down-mail {
  display: flex;
  align-items: center;
}

.header__down-mail:hover {
  color: #1ab9ce;
}

.header__down-reg-img {
  width: 20px;
  height: 24px;
}

.header__down-mail-img {
  width: 21px;
  height: 13px;
}

.header__down-right {
  display: flex;
  justify-content: end;
  flex: 0 1 66%;
}

.header__down-right a {
  color: #999;
}

.header__down-callback {
  margin: 0 30px;
}

.header__down-timetable {
  display: flex;
}

.header__down-timetable-item {
  width: 142px;
}

.header__down-timetable-img {
  width: 22px;
  height: 22px;
}

.header__down-gard span {
  margin-left: -10px;
  width: 41px;
  height: 25px;
  padding: 6px 11px;
  border-radius: 25px 25px;
  background-color: #f68038;
}

.header__down-gard-img {
  width: 39px;
  height: 39px;
}

.page-side {
  margin-top: 52px;
  padding-right: 32px;
  width: 261px;
  text-align: left;
}

.page-side__catalog {
  background-color: #14c0d4;
}

.page-side__visibal {
  width: 261px;
  display: flex;
  justify-content: space-around;
}

.page-side__title {
  max-width: 137px;
  padding: 21px 0 21px 0px;
  font-family: "UniSansCaps";
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  color: #fff;
}

.page__content {
  min-width: 0;
  position: relative;
}

.page-side__menu {
  margin-top: 27px;
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.page-side__menu span,
.page-side__menu::before,
.page-side__menu::after {
  position: absolute;
  right: 20px;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #000;
}

.page-side__menu::before,
.page-side__menu::after {
  content: "";
}

.page-side__menu::before {
  top: 0;
}

.page-side__menu::after {
  bottom: 0;
}

.page-side__menu span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.page-side__menu._active span {
  transform: scale(0);
}

.page-side__menu._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  background-color: #fff;
}

.page-side__menu._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  background-color: #fff;
}

.page-side__body a {
  font-size: 12px;
  font-weight: 300;
  line-height: 3.33;
  letter-spacing: 0.3px;
  text-align: left;
  color: #fff;
}

.page-side__body li {
  padding-left: 22px;
  border-bottom: 1px solid #1aa7b9;
}

.page-side__body li:hover {
  background-color: #098494;
}

.none {
  display: none;
}

.news__title {
  font-family: "UniSansCaps";
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  color: #1ab9ce;
}

.news__sector {
  margin: 36px 0 0 0;
}

.news__subtitle {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.5;
  color: #fd8322;
}

.news__body {
  margin-top: 22px;
  display: flex;
}

.news__date {
  text-align: center;
  margin-right: 17px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  color: #d8d8d8;
}

.news__text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: #666;
}

.review__title {
  margin: 76px 0 32px 0;
  font-family: "UniSansCaps";
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  color: #dadada;
}

.review__sector {
  margin: 32px 0;
}

.review__user {
  display: flex;
  justify-content: space-evenly;
}

.review__name {
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
  color: #333;
}

.review__date {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: #999;
}

.review__body {
  display: flex;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  color: #666;
}

.review__body span {
  margin-right: 12px;
  font-size: 48px;
  font-weight: 900;
  color: #dadada;
}

.page {
  display: flex;
}

.input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -ms-grid-rows: 39px;
  grid-template-rows: 39px;
  width: 55vw;
  max-width: 846px;
  height: 39px;
  margin-top: 52px;
  border: solid 2px #f2f2f2;
  background-color: #fff;
}

.input__substrate {
  padding: 0 11px;
  background-color: #f3f3f3;
  display: flex;
  text-align: center;
  align-items: center;
}

.input__search {
  width: 17px;
  height: 17px;
}

.input__text {
  margin: 0 11px;
  font-size: 14px;
  font-weight: 300;
  color: #666;
}

.input__line {
  width: 10px;
  height: 10px;
}

.input__search img {
  width: 100%;
  height: 100%;
}

.input__line img {
  width: 100%;
  height: 100%;
}

.main-form__textarea {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  resize: none;
}

.input__find {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 86px;
  height: 39px;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
  background-color: #f68038;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.scrin-slider {
  margin-top: 22px;
  position: relative;
}

.scrin-slider .swiper-wrapper {
  max-height: 403px;
}

.scrin-slider .swiper-slide {
  height: 500px;
}

.scrin__title {
  margin: 36px 0 0 41px;
  font-size: 48px;
  font-weight: 900;
  line-height: 0.9;
  color: #333;
  position: relative;
  z-index: 2;
}

.scrin__title p {
  font-size: 48px;
  font-weight: 900;
  line-height: 0.9;
  color: #f68038;
  position: relative;
  z-index: 2;
}

.scrin__subtitle {
  color: #333;
  margin: 53px 0 0 58px;
  position: relative;
  top: 21px;
  right: 0;
  z-index: 2;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.71;
}

.scrin__subtitle span {
  font-size: 18px;
  color: #f68038;
}

.scrin__subtitle p {
  max-width: 133px;
  color: #fff;
  background: #979797;
}

.scrin__subtitle p:last-child {
  max-width: 200px;
  color: #979797;
  background-color: rgba(0, 0, 0, 0);
}

.scrin__price {
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.scrin__price span {
  font-size: 36px;
  font-weight: 900;
  line-height: 0.67;
  color: #fff;
  height: 51px;
}

.scrin__price-still a {
  color: #fff;
}

.scrin__price-still {
  margin-top: 20px;
  margin: 0 auto;
  width: 145px;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.71;
  color: #fff;
  border-radius: 15px;
  border: solid 3px #fff;
  background-color: #000;
}

.scrin-slider__img {
  max-width: 846px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.scrin__price-still img {
  margin: 5px 0 4px 10px;
  transform: rotate(0deg);
}

.scrin-slider .swiper-pagination {
  bottom: 0;
}

.scrin-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: rebeccapurple;
}

.scrin-slider .swiper-button-prev {
  visibility: hidden;
}

.scrin-slider .swiper-button-next {
  visibility: hidden;
}

.product-see {
  margin: 10px;
  max-width: 253px;
}

.product-see__img {
  width: 219px;
  height: 203px;
}

.product-see__text {
  max-width: 163px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: #36949f;
}

.product-see__text span {
  max-width: 163px;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.38;
  color: #36949f;
}

.product-see__price-story {
  max-width: 92px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  color: #999;
  text-align: right;
}

.product-see__price {
  max-width: 92px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  color: #333;
  text-align: right;
}

.product__title {
  margin-top: 66px;
  font-family: UniSansCaps;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #dadada;
}

.product-hover {
  margin-top: -145%;
  position: relative;
  top: 20%;
  width: 263px;
  height: 333px;
  color: #fff;
  opacity: 0;
}

.product-hover:hover {
  border: solid 5px #f68038;
  background-color: rgba(0, 0, 0, 0.84);
  opacity: 1;
}

.hover__title {
  margin: 26px 0 0 26px;
  font-size: 16px;
  font-weight: 300;
  color: #c2c2c2;
  line-height: 1.38;
}

.hover__title p {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.38;
}

.hover__type {
  margin: 0 0 0 27px;
  font-size: 14px;
  line-height: 1.71;
}

.hover__type p {
  font-weight: 900;
  line-height: 1.29;
  color: #f68038;
}

.hover__speed {
  margin: 0 0 0 27px;
  font-size: 14px;
  line-height: 1.71;
}

.hover__speed p {
  font-weight: 900;
  line-height: 1.29;
  color: #f68038;
}

.hover__portable {
  margin: 0 0 0 27px;
  font-size: 14px;
  line-height: 1.71;
}

.hover__portable p {
  font-weight: 900;
  line-height: 1.29;
  color: #f68038;
}

.hover__img {
  text-align: center;
  margin: 0 auto;
}

.hover__footer {
  margin: 10px 27px 0 27px;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  justify-content: space-between;
}

.hover__btn {
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
  line-height: 1.71;
  color: #f68038;
  background-color: #fff;
  width: 85px;
  height: 21px;
  border-radius: 50px;
}

.hover__price {
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
}

.hover__price p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  color: #999;
  text-decoration: line-through;
}

.product__block {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

.product__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.product .prev {
  background-image: url("../img/next.svg");
  background-position: 0 -2px;
  background-repeat: no-repeat;
  padding: 17px;
  width: 40px;
  height: 33px;
  transform: rotate(180deg);
}

.product .next {
  background-image: url("../img/next.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 40px;
  height: 33px;
  padding: 17px;
}

.profuct.info {
  margin: 10px 0 0 0;
}

.product__seem {
  display: flex;
  flex-wrap: wrap;
}

.page__slider {
  margin: 100px 0 0 0;
  padding: 50px 0;
  border-top: #333 dashed 2px;
  border-bottom: #333 dashed 2px;
}

.slider.swiper-wrapper {
  margin: 50px -100px;
  padding: 0 50px;
}

.swiper-prev {
  background-image: url("../img/next.svg");
  background-position: 0 -2px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 65px;
  padding: 20px;
  margin: 20px;
  transform: rotate(180deg);
  position: absolute;
  z-index: 2;
  top: 35px;
  left: -40px;
}

.swiper-next {
  background-image: url("../img/next.svg");
  background-position: 0 -2px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 65px;
  padding: 20px;
  margin: 20px;
  position: absolute;
  z-index: 2;
  top: 35px;
  right: -35px;
}

.page__text {
  margin: 50px 0;
}

.text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.text-content {
  position: relative;
  background-color: #009fb4;
  padding: 0 25px;
}

.text-content__title {
  font-family: UniSansCaps;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  color: #22b7ca;
  margin-bottom: 20px;
}

.text-content__about {
  display: flex;
  justify-content: space-between;
}

.text-content__text {
  flex: 0 1 54%;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.3px;
  color: #fff;
}

.text-content__list {
  flex: 0 1 44%;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.3px;
  color: #fff;
}

.text-content__list p {
  margin: 20px 0;
}

.text-content__list p:last-child {
  width: 80%;
  margin: 20px 0;
  position: relative;
  z-index: 2;
}

.text-content__list span {
  font-weight: 900;
}

.text-content__img {
  width: 355px;
  height: 425px;
  position: absolute;
  bottom: -250px;
  right: -80px;
  z-index: 1;
}

.text-content__img img {
  width: 100%;
}

.text-content__info {
  margin-top: 50px;
}

.text-content__click a {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.35px;
  text-align: left;
  color: #333;
  margin: 0 20px;
}

.text-content__click {
  margin: 30px 0;
}

.text-content__click span {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.35px;
  text-align: left;
  color: #333;
}

.text-content__click span:hover {
  font-size: 14px;
  font-weight: 900;
  color: #1ab9ce;
}

.text-content__help a {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.35px;
  text-align: left;
  color: #333;
}

.text-content__help span {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.35px;
  text-align: left;
  color: #333;
}

.text-content__help span:hover {
  font-size: 14px;
  font-weight: 900;
  color: #1ab9ce;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.footer__callback {
  display: flex;
}

.footer__logo {
  margin: 0 50px 30px 0;
}

.footer__telefon {
  display: flex;
}

.footer__vidjit {
  display: flex;
}

.footer__vk {
  width: 284px;
  height: 240px;
}

.footer__vk2 {
  width: 284px;
  height: 240px;
}

@media (max-width: 1160px) {
  .menu__list-up {
    height: 45px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 157px;
  }
}

@media (max-width: 790px) {
  .header {
    height: 180px;
  }

  .header__down-gard {
    position: absolute;
    top: 30px;
    right: 50px;
  }

  .header__down-entere img {
    display: none;
  }

  .header__down-reg img {
    display: none;
  }

  .header__down-reg {
    position: absolute;
    top: 95px;
    right: 15px;
  }

  .header__down-mail img {
    display: none;
  }

  .header__down-timetable {
    display: none;
  }

  .header__down-callback {
    display: none;
  }

  .header__down-mail {
    display: none;
  }

  .menu__list-up {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: left;
    margin: 0;
  }

  .menu__list-up li {
    margin: 15px 0;
  }

  .header__call_moskow {
    position: absolute;
    top: 30px;
    right: -10px;
    border: none;
  }

  .header__call_moskow img {
    width: 20px;
    height: 30px;
  }

  .header__call_moskow-text {
    display: none;
  }

  .header__call_russia {
    display: none;
  }

  .header__menu {
    flex: 0 1 33%;
  }

  .header__logo {
    margin-right: -165px;
  }

  .header__logo img {
    width: 80px;
    height: 40px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    z-index: 21;
    left: -52px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__body {
    position: fixed;
    z-index: 20;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: #fff;
  }

  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: #fff;
  }

  .menu__body._active {
    left: 0;
  }

  .page-side {
    margin: 0;
  }

  .input {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    -ms-grid-rows: 39px;
    grid-template-rows: 39px;
    width: 55vw;
    height: 39px;
    margin-top: 52px;
    border: solid 2px #f2f2f2;
    background-color: #fff;
  }

  .input__substrate {
    display: none;
  }
}

@media (max-width: 767px) {
  .page {
    display: flex;
    flex-wrap: wrap;
  }

  .news {
    display: none;
  }

  .review {
    display: none;
  }
}

@media (max-width: 460px) {
  .scrin__title {
    margin: 36px 0 0 1px;
    font-size: 40px;
    font-weight: 900;
    line-height: 0.9;
    color: #333;
    position: relative;
    z-index: 2;
  }

  .scrin__subtitle {
    color: #333;
    margin: 43px 0 0 38px;
    position: relative;
    top: 21px;
    right: 0;
    z-index: 2;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.71;
  }
}

.webp .header{ background-image: url(../img/header.webp); }